id="main-heading" {
		color: blue;
		text-align: center;
}

h2 {
    	text-align: center;
}

class="place-description"{
		font-family: Verdana;
		font-color: olive;
}

class="person-description"{
		font-color: purple;
}

class="top-favorite"{
		font-color:red
		font-size: bold
}

class="important-point"{
		text-decoration: underline;
	
}

class="emphasis"{
		font-style: italics;
}
