#main-heading {
		color: blue;
		text-align: center;
		
		
}

h2 {
    	text-align: center;
}

.place-description{
		font-family: Verdana;
		color: olive;
		
}

.person-description{
		color: purple;
}



.important-point{
		text-decoration: underline;
	
}

